@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Prism&display=swap');

:root {
    --text-color-temp : rgb(34, 34, 43);
    --bg-color : #eeeeee;
    --main-color: #224fb1;
    --para-text: #6d6d6d;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: black;
}

header {
    position: fixed;
    padding: 0 100px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.nav ul {
    display: flex;
    padding-top: 15px;
    margin-right: 200px;
}

.logo {
    color: var(--main-color);
}

.logo span {
    font-family: 'Tilt Prism', cursive;
    font-size: 32px;
}

.nav ul a {
    margin-left: 50px;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.nav ul a:hover {
    color: var(--main-color);
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 10px;
}

.left {
    width: 35%;
    margin: auto;
    background-color: var(--main-color);
    border-radius: 10px;
    /* color: black; */
    color: white;
}

.getintouch {
    margin: 25px;
}

.getintouch h1 {
    font-size: 34px;
}

.getintouch p {
    font-size: 18px;
}

.list ul {
    margin: 20px;
    padding: 10px;
}

.list ul li {
    list-style: none;
    display: flex;
}

.list ul li i {
    margin: 10px;
    padding: 10px;
    width: 24px;
    height: 24px;
    display: flex;
}

.list ul li p {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.follow-me {
    margin: 20px;
    text-align: center;
}

.follow-me a {
    font-size: 26px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;    
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #b91010;
    color: white;
}

.right {
    margin-left: 70px;
    width: 50%;
    color: white;
}

.right h1 {
    margin: 30px;
    font-size: 38px;
    color: var(--main-color);
}

.name-input, .mail-phone, .message {
    margin: 30px;
}

.name-input input, .mail-phone input {
    margin: 10px;
    padding: 10px;
    width: 35%;
    margin-right: 30px;
    font: inherit;
    border-radius: 10px;
    border: 0;
    background-color: #c9c5ec;
    color: black;
}

*::placeholder {
    color: black;
}

.message textarea {
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 100px;
    font: inherit;
    border-radius: 10px;
    border: 0;
    background-color: #c9c5ec;
}

button {
    margin: 10px;
    margin-left: 40px;
    width: 20%;
    height: 35px;
    font: inherit;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
}

button:hover {
    background-color: #5b53a8;
}

@media (max-width:1024px) {
    .left {
        width: 50%;
    }
    .name-input input, .mail-phone input {
        width: 80%;
    }
    button {
        width: 75%;
    }
}

@media (max-width:425px) {
    header {
        padding: 0 10px;
    }
    .nav ul {
        display: none;
    }
    .container {
        display: block;
    }
    .left {
        width: 100%;
    }
    .getintouch h1 {
        padding-top: 30px;
        text-align: center;
    }
    .list ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .follow-me {
        padding-bottom: 30px;
    }
    .right {
        margin: auto;
        width: 100%;
    }
    .right h1 {
        text-align: center;
    }
    *input {
        margin: auto;
    }
    .name-input, .mail-phone, .message {
        margin: 0;
        text-align: center;
    }
    .name-input input, .mail-phone input, .message textarea {
        margin-right: 10px;
    }
    button {
        margin-left: 37px;
        width: 75%;
    }
}

@media (max-width:320px) {
    .getintouch h1 {
        font-size: 28px;
    }
    .getintouch p {
        font-size: 16px;
    }
    .list ul li p {
        font-size: 14px;
    }
}